/* Header */

body{
    background: #FFFFFF url(../images/background.png) 50% 0 repeat fixed;
    font: normal 12px/18px Arial, Helvetica, sans-serif;
}
.tit_home{
    color: #518f89;
}
.label_search{
    font-family: sans-serif,Helvetica;
    font-size:14px;
}
#page-bg {
    position: relative;
    background: url(../images/background.png) 50% 0 no-repeat fixed;
}

#page-bg > div {
    background: url(../images/sports_gradient.svg) 50% 0 no-repeat fixed;
    background-size: 100% 1200px;
}

#logoc{

    height: auto;
    margin:0 100px 0 0;
}

.sidebar{
   border: 1.5px solid rgba(0,0,0,0.25);
   position:absolute;
   left:80px; top:100px; bottom: 70px;
   width: 200px;
   background:White;
   border-radius: 4px;
}

.sidebar2{
   border: 1.5px solid rgba(0,0,0,0.25);
   left:80px; top:100px; bottom: 70px;
   position:absolute;
   width: 200px;
   background:White;
   border-radius: 4px;
}

.sidebar3{
   border: 1.5px solid rgba(0,0,0,0.25);
   left:80px; top:100px; bottom: 70px;
   margin-top: 15px;
   margin-left: 400px;
   width: 800px;
   background:White;
   border-radius: 4px;
}

h1,
h2,
p {
  margin: 0 0 15px 0;
}
h2 {
  font-size: 14px;
}

ul {
  padding-left: 30px;
  font-family: sans-serif,Helvetica;
}

li{
  padding-top:8px;
}

table{
    font-family: sans-serif,Helvetica;
    font-size:12px;
}
.vinieta{
    list-style-image: url(../images/plus.png);
}
.vinieta a {
    color: #518f89;
    text-decoration: none
}
.exit{
    list-style-image: url(../images/exit.png);
}

.exit a{
    color: #518f89;
    text-decoration: none
}
/*Se desactiva la opción de pasar de pestaña manualmente por el usuario,
de esta forma unicamente si se ingresan los campos completos y se presiona el boton continuar
se podrá pasar a la siguiente pestaña*/
.not-active {
   pointer-events: none;
   cursor: default;
}

#accordion-resizer {
    padding: 10px;
    width: 30px;
    height: 220px;
  }

#footer { text-shadow: 0 1px 0 rgba(255,255,255,0.4); }

#footer {
  font: normal 11px/18px Arial, Helvetica, sans-serif;
  margin-top: 4px;
  padding-top: 13px;
  line-height: 15px;
  font-size: 11px;
  text-align: left;
}

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}
.panel-border{
    border-color: #C0C0C0;
    padding: 3px;
}



/*
 * Masthead for nav
 */

.blog-masthead {
  font: normal 11px/18px Arial, Helvetica, sans-serif;
  background-color: #518f89;
  font-size: 13px;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 60px;
  text-align: left;
}
.pager > li > a {
  width: 140px;
  padding: 10px 20px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  margin-bottom: 60px;
}
.blog-post-title {
  margin-bottom: 5px;
  font-size: 40px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}


/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

a{
  color: #518f89;
}

#informacion{
    background-color: #518f89;
}

#eliminar{
    background-color: #518f89;
    margin-right:2px !important;
}
#descargar{
    width:300px;
    border:1px solid #e5e5e5;
    float: left;
    clear:left;
    text-align:center;
    background-color: #518f89;
}
