<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<meta charset="utf-8">
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="../../favicon.ico">
	<link type="text/css" href="/site_media/bootstrap3/css/bootstrap.min.css" rel="stylesheet" />
	<link type="text/css" href="/site_media/css/layout.css" rel="stylesheet" />
	<link type="text/css" href="/site_media/css/custom-theme/jquery-ui-1.9.2.custom.css" rel="stylesheet" />
	<script type="text/javascript" src="/site_media/js/jquery-1.8.3.js"></script>
	<script type="text/javascript" src="/site_media/js/jquery-ui-1.9.2.custom.js"></script>
	{% block scripts %}

	{% endblock %}
</head>
<body id="page">
<div id="page-bg">
	<div id="headerbar">
		<div class="row">
			<a id="logo" class="col-md-offset-2" href="http://www.uniandes.edu.co">
				<img src="/site_media/images/logo.png" width="200"/>
			</a>
			<a class="col-md-offset-4" href="http://conectate.uniandes.edu.co/">
				<img src="/site_media/images/logo_conectate.png" width="270" height="55" id="logoc">
			</a>
		</div>

	</div>		
</div>

<div class="row">
	<div class="panel-border panel panel-body panel-primary col-md-10 col-md-offset-1">
		<div>
			<div class="blog-masthead">
			  <div class="container">
				<nav class="blog-nav">
					<a class="blog-nav-item navbar-left">BIENVENIDO! {{request.user}}</a>
					<a class="blog-nav-item navbar-left" href="{% url 'main' %}">INICIO</a>
					<a class="blog-nav-item navbar-right" href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> CERRAR SESIÓN</a>
					{% for group in user.groups.all %}
       					{% if group.name == 'profesor' %}
							<a class="blog-nav-item navbar-right" href="{% url 'clear' %}"><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span> CATALOGAR RECURSO</a>
						{% endif %}
    				{% endfor %}
					{% for group in user.groups.all %}
       					{% if group.name == 'administrador' %}
							<a class="blog-nav-item navbar-right" href="{% url 'signup' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> CREAR CUENTA</a>
						{% endif %}
    				{% endfor %}
					<a class="blog-nav-item navbar-right" href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> INICIAR SESIÓN</a>
					<a class="blog-nav-item navbar-right" href="{% url 'home' %}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> PERFIL</a>
				</nav>
			  </div>
			</div>
		</div>
	</div>

</div>
{% block contenido %}
			
{% endblock %}
</body>

<footer id="footer" class="col-md-12">
	<br>
	<div class="module   deepest">
		<div class="row">
			<div class="col-xs-5 col-xs-offset-1">
				<strong>Conecta-TE</strong> | Centro de Innovación en Tecnología y Educación <br>
				Edificio Pedro Navas, 1er piso <br>
				<strong>Teléfono:</strong> 3394949<br>
				<strong>Extensión:</strong> 3930
			</div>
			<div class="col-xs-5" style="text-align: right;">
				Copyright © 2013 <br>
				Todos los derechos reservados <br>
				Contáctenos: <a></a><br>
				<a href="http://www.uniandes.edu.co" target="_blank">Universidad de los Andes</a>
			</div>
		</div>
	</div>
</footer>
	
</html>
