{% extends "base_site.html" %}

{% block contenido %}

<aside class="sidebar">
  <ul>
    <li class="vinieta"> <a href="{% url 'clear' %}">Catalogar Recurso Educativo</a></li>
    <li class="vinieta"> <a href="{% url 'info_basica' %}">Eliminar Recurso Educativo</a></li>
    <li class="vinieta"> <a href="{% url 'buscarClave' %}">Buscar Recurso Educativo - Palabra Clave</a></li>
    <li class="vinieta"> <a href="{% url 'buscarArea' %}">Buscar Recurso Educativo - Area Conocimiento</a></li>
    <li class="vinieta"> <a href="{% url 'info_basica' %}">Editar Recurso Educativo</a></li>
    <li class="exit"> <a href="{% url 'logout' %}">Salir</a></li>
  </ul>

</aside>

{% block contenido_pagina %}
{% endblock %}

{% endblock %}