{% extends "base_site.html" %}

{% block scripts %}
  <script>
  $(function() {
	$( "input:submit, input:reset, input:button").button();
  });
  </script>

{% endblock %}

{% block contenido %}

<aside class="sidebar2">
  <ul>
    <li class="vinieta"> <a href="{% url 'info_basica' %}">Catalogar Recurso Educativo</a></li>
    <li class="vinieta"> <a href="{% url 'info_basica' %}">Eliminar Recurso Educativo</a></li>
    <li class="vinieta"> <a href="{% url 'buscarClave' %}">Buscar Recurso Educativo - Palabra Clave</a></li>
    <li class="vinieta"> <a href="{% url 'buscarArea' %}">Buscar Recurso Educativo - Area Conocimiento</a></li>
    <li class="vinieta"> <a href="{% url 'info_basica' %}">Editar Recurso Educativo</a></li>
    <li class="exit"> <a href="{% url 'logout' %}">Salir</a></li>
  </ul>
</aside>


{% block contenido_pagina %}
<br><br>
<form ACTION="/buscarArea/" METHOD="POST" enctype="multipart/form-data">{% csrf_token %}
            <table id="buscarArea" border=0 cellpadding="3px" cellspacing="2px" style="margin-left:auto;margin-right:270px;">
            <tr>
                <td><b>Area Conocimiento</b></td>

                <td>{{form.areaConocimiento}}
                    {% for error in form.areaConocimiento.errors %}<span style="color:red"><br>{{error}}</span>{%endfor%}
                </td>
                <td><input type="submit" value="Buscar" /></td>
            </tr>
        </table>
    </form>

{% for item in Items %}
<aside class="sidebar3">
    <br>
        <b>Titulo:     </b>{{item.titulo}}<br>
        <b>Autor:      </b>{{item.autor}}<br>
        <b>Descipcion: </b>{{item.descripcion}}<br>
        <b>Pais:       </b>{{item.pais}}<br>
        <b>Fecha:      </b>{{item.fecha}}<br>
        <br>


</aside>
    {% endfor %}

{% endblock %}

{% endblock %}