{% extends "base_site.html" %}

{% block scripts %}
  <script>
  $(function() {
	$( "input:submit, input:reset, input:button").button();
  });
  </script>

{% endblock %}

{% block contenido %}


<aside class="sidebar2">
  <ul>
    <li class="vinieta"> <a href="{% url 'info_basica' %}">Catalogar Recurso Educativo</a></li>
    <li class="vinieta"> <a href="{% url 'info_basica' %}">Eliminar Recurso Educativo</a></li>
    <li class="vinieta"> <a href="{% url 'buscarClave' %}">Buscar Recurso Educativo - Palabra Clave</a></li>
    <li class="vinieta"> <a href="{% url 'buscarArea' %}">Buscar Recurso Educativo - Area Conocimiento</a></li>
    <li class="vinieta"> <a href="{% url 'info_basica' %}">Editar Recurso Educativo</a></li>
    <li class="exit"> <a href="{% url 'logout' %}">Salir</a></li>
  </ul>
</aside>

{% block contenido_pagina %}
<div>
<br><br>
    <form ACTION="/buscarClave/" METHOD="POST" enctype="multipart/form-data">{% csrf_token %}
            <table id="buscarClave" border=0 cellpadding="3px" cellspacing="2px" style="margin: 0 auto;">
            <tr>
                <td><b>Palabra Clave</b></td>
                <td>{{form.palabraClave}}</td>
                <td>
                    <input type="submit" value="Buscar" />
                </td>
            </tr>
        </table>

    </form>
</div>

{% for item in Items %}
<aside class="sidebar3">
    <br>
        <b>Titulo:     </b>{{item.titulo}}<br>
        <b>Autor:      </b>{{item.autor}}<br>
        <b>Descipcion: </b>{{item.descripcion}}<br>
        <b>Pais:       </b>{{item.pais}}<br>
        <b>Fecha:      </b>{{item.fecha}}<br>
        <b>Keyword:    </b>{{item.keyword}}
        <br>


</aside>
    {% endfor %}

{% endblock %}
{% endblock %}