{% extends "base_profesor.html" %}

{% block scripts %}
  <script>
  $(function() {
	$( "input:submit, input:reset, input:button").button();
	$(".boton").button();
  });
  $(function() {
    $( "#tabs" ).tabs({
        active: {{tab_activa}}
    })
  });
  $(function() {
	$('.datepicker').datepicker({
			showOn: "button",
			buttonImage: "/site_media/images/calendar.png",
			buttonImageOnly: true,
			changeMonth: true,
			changeYear: true,
			yearRange: "c-100:c+10",
			showOtherMonths: true,
			selectOtherMonths: true,
			showButtonPanel: true,
			readonly: true,
			buttonText: ""
			});
	});
  $(function() {
    $( "#accordion" ).accordion({
      heightStyle: "content"
    });
  });
  $( "#sweets" )
  .change(function () {
    $( "select option:selected" ).each(function() {
      $("#boton").button();
    });
  })
  .change();
  </script>

{% endblock %}

{% block contenido%}
<br>

<div id="tabs" class="col-md-10 col-md-offset-1">
	<div class="col-md-offset-4">
		<h3 class="tit_home"><span class="glyphicon glyphicon-cloud-upload" aria-hidden="true"></span>   Catalogar Recurso Educativo</h3>
	</div>
	<div class="panel-border panel panel-body panel-primary col-md-12">
	  <ul class="tab-links">
		<li><a href="#tabs-1" class="not-active">INGRESAR INFO. BASICA</a></li>
		<li><a href="#tabs-2" class="not-active">INGRESAR INFO. AVANZADA</a></li>
		<li><a href="#tabs-3" class="not-active">CARGAR ARCHIVO</a></li>
		<li><a href="#tabs-4" class="not-active">CLASIFICAR RECURSO</a></li>
		<li><a href="#tabs-5" class="not-active">CONFIRMAR CATALOGO</a></li>
	  </ul>
		<div class="tab-content">
		  <div id="tabs-1">
			<form ACTION="/basica/" METHOD="POST">{% csrf_token %}
				{{ form.non_field_errors }}
						<table id="recursoTabla" border=0 style="margin: 0 auto;border-spacing:7px;border-collapse: separate">
						<tr>
							<td><b>{{form.titulo.label}}</b></td>
							<td colspan=3 >{{form.titulo}}
								{% for error in form.titulo.errors %}<span style="color:red"><br>{{error}}</span>{%endfor%}
							</td>
						</tr>
						<br>
						<tr>
							<td><b>{{form.descripcion.label}}</b></td>
							<td colspan=3 >{{form.descripcion}}
								{% for error in form.descripcion.errors %}<span style="color:red"><br>{{error}}</span>{%endfor%}
							</td>
						</tr>

						<tr>
							<td><b>{{form.autor.label}}</b></td>
							<td>{{form.autor}}
								{% for error in form.autor.errors %}<span style="color:red"><br>{{error}}</span>{%endfor%}
							</td>

							<td><b>Nivel Agregación</b></td>
							<td>{{form.nivelAgregacion}}
								{% for error in form.nivelAgregacion.errors %}<span style="color:red"><br>{{error}}</span>{%endfor%}
							</td>
						</tr>
						<br>
						<tr>
							<td><b>{{form.extension.label}}</b></td>
							<td>{{form.extension}}
								{% for error in form.extension.errors %}<span style="color:red"><br>{{error}}</span>{%endfor%}
							</td>

							<td><b>{{form.lenguaje.label}}</b></td>
							<td>{{form.lenguaje}}
								{% for error in form.lenguaje.errors %}<span style="color:red"><br>{{error}}</span>{%endfor%}
							</td>
						</tr>
						<tr>
							<td><b>{{form.pais.label}}</b></td>
							<td>{{form.pais}}
								{% for error in form.pais.errors %}<span style="color:red"><br>{{error}}</span>{%endfor%}
							</td>

							<td><b>Palabras Claves</b></td>
							<td>{{form.palabrasClaves}}
								{% for error in form.palabrasClaves.errors %}<span style="color:red;"><br>{{error}}</span>{%endfor%}
							</td>
						</tr>
						<tr>
							<td><b>{{form.fecha.label}}</b></td>
							<td>{{form.fecha}}
								{% for error in form.fecha.errors %}<span style="color:red"><br>{{error}}</span>{%endfor%}
							</td>
						</tr>
					</table>
					<br>

					<div style="text-align:right">
						<input type="submit" value="Continuar" />
					</div>
				</form>
		  </div>

		  <div id="tabs-2">
			<form ACTION="/avanzada/" METHOD="POST">{% csrf_token %}
			<div id="accordion">
				<h3>Información Recurso</h3>
				  <div>

					<table width="85%"  id="tablaInfoAvanzada" border=0 style="margin: 0 auto; border-spacing:7px;border-collapse: separate;">
						<tr>
							<td><b>Sitio web</b></td>
							<td>{{form.recursoWebsite}}</td>
							<td><b>Identificador Catalogo</b></td>
							<td>{{form.recursoIdentCatalogo}}</td>
						</tr>
						<tr>
							<td><b>Estructura General</b></td>
							<td>{{form.recursoEstructura}}</td>
							<td><b>Esquema</b></td>
							<td>{{form.recursoEsquema}}</td>
						</tr>
						<tr>
							<td><b>Versión</b></td>
							<td>{{form.recursoVersion}}</td>
							<td><b>Cambios en el Recurso</b></td>
							<td>{{form.recursoCambios}}</td>
						</tr>
						<tr>
							<td><b>Momento Contextual</b></td>
							<td>{{form.recursoMomentoC}}</td>
							<td><b>Lenguaje de los datos</b></td>
							<td>{{form.recursoLenguajeDatos}}</td>
						</tr>
						<tr>
							<td><b>Coordenadas</b></td>
							<td colspan="3">{{form.recursoCoordenadas}}</td>
						</tr>
					</table>

				  </div>
				<h3>Información Entidad</h3>
				  <div>

					<table width="30%" id="tablaAvanzada2" border=0 style="margin: 0 auto;border-spacing:7px;border-collapse: separate;">
						<tr>
							<td><b>Nombre Entidad</b></td>
							<td>{{form.entidadNombre}}</td>
						</tr>
					</table>

				  </div>
				<h3>Información Técnica</h3>
				  <div>

					<table width="85%" id="tablaAvanzada3" border=0 style="margin: 0 auto;border-spacing:7px;border-collapse: separate;">
						<tr>
							<td><b>Previsualización</b></td>
							<td>{{form.tecnicaPrevisualizacion}}</td>
						</tr>
						<tr>
							<td><b>Instrucciones de Instalación</b></td>
							<td>{{form.tecnicaInstInstalacion}}</td>
							<td><b>Otros Requerimientos</b></td>
							<td>{{form.tecnicaOtrosReq}}</td>
						</tr>
					</table>

				  </div>
				<h3>Información Educativa</h3>
				  <div>

					  <table width="85%" id="tablaAvanzada4" border=0 style="margin: 0 auto;border-spacing:7px;border-collapse: separate;">
						<tr>
							<td><b>Tipo Interactividad</b></td>
							<td>{{form.educativaInteractividad}}</td>
							<td><b>Rango de Edad</b></td>
							<td>{{form.educativaRangoEdad}}</td>
						</tr>
						<tr>
							<td><b>Densidad Semantica</b></td>
							<td>{{form.educativaDensidadSem}}</td>
							<td><b>Tiempo de aprendizaje</b></td>
							<td>{{form.educativaTiempoA}}</td>
						</tr>
						<tr>
							<td><b>Dificultad</b></td>
							<td>{{form.educativaDificultad}}</td>
							<td><b>Descripción</b></td>
							<td>{{form.educativaDes}}</td>
						</tr>
					</table>

				  </div>
				<h3>Comentarios</h3>
				  <div>

					<table width="85%" id="tablaAvanzada5" border=0 style="margin: 0 auto;border-spacing:7px;border-collapse: separate;">
						<tr>
							<td><b>Comentarios</b></td>
							<td>{{form.comentariosComent}}</td>
							<td><b>Descripción</b></td>
							<td>{{form.cometariosDesc}}</td>
						</tr>
						<tr>
							<td><b>Fecha</b></td>
							<td>{{form.comentariosFecha}}</td>
							<td><b>Rating</b></td>
							<td>{{form.cometariosRating}}</td>
						</tr>
					</table>

				  </div>
				<h3>Derechos de Autor</h3>
				  <div>

					<table width="85%" id="tablaAvanzada6" border=0 style="margin: 0 auto;border-spacing:7px;border-collapse: separate;">
						<tr>
							<td><b>Restricciones</b></td>
							<td>{{form.derechosRestricciones}}</td>
							<td><b>Descripción</b></td>
							<td>{{form.derechosDesc}}</td>
						</tr>
						<tr>
							<td><b>Costo</b></td>
							<td colspan="3">{{form.derechosCosto}}</td>
						</tr>
					</table>

				  </div>

			</div>

			<table width="100%">
						<tr>
							 <td><a href="{% url 'info_basica' %}" class="boton">Volver</a></td>
							<td style="text-align:right;padding-top:5px;"><input type="submit" value="Continuar" /></td>
						</tr>
			</table>

			</form>
		  </div>


		  <div id="tabs-3">
			<form ACTION="/carga/" METHOD="POST" enctype="multipart/form-data">{% csrf_token %}
						<table id="cargarRecurso" border=0 cellpadding="3px" cellspacing="2px" style="margin: 0 auto;">
						<tr>
							<td><b>{{form.recurso.label}}</b></td>
							<td>{{form.recurso}}</td>
						</tr>
						<tr>
							<td colspan="2">{% for error in form.recurso.errors %}<span style="color:red"><br>{{error}}</span>{%endfor%}
							</td>
						</tr>
					</table>
					<br>
					<table width="100%">
						<tr>
							 <a href="{% url 'info_avanzada' %}" class="boton">Volver</a>
							<td style="text-align:right;padding-top:5px;"><input type="submit" value="Continuar" /></td>
						</tr>
					</table>
				</form>
		  </div>
		  <div id="tabs-4">
			<form ACTION="/clasif/" METHOD="POST">{% csrf_token %}
				{{ form.non_field_errors }}
					<table id="recursoCatalog" border=0 cellpadding="3px" cellspacing="2px" style="margin: 0 auto;">

						<tr>
							<td><b>Área Conocimiento</b></td>
							<td>{{form.area}}
								{% for error in form.area.errors %}<span style="color:red"><br>{{error}}</span>{%endfor%}
							</td>
						</tr>

						<br>
						<tr>
							<td><b>Tipo Recurso</b></td>
							<td>{{form.tipoRecurso}}
								{% for error in form.tipoRecurso.errors %}<span style="color:red"><br>{{error}}</span>{%endfor%}
							</td>

							<td><b>Nivel Educativo</b></td>
							<td>{{form.nivelEducativo}}
								{% for error in form.nivelEducativo.errors %}<span style="color:red"><br>{{error}}</span>{%endfor%}
							</td>
						</tr>
					</table>
					<br>
					<table width="100%">
						<tr>
							 <a href="{% url 'info_carga' %}" class="boton">Volver</a>
							<td style="text-align:right;padding-top:5px;"><input type="submit" value="Continuar" /></td>
						</tr>
					</table>
				</form>
		  </div>
		</div>
	  <div id="tabs-5">
		  <a href="{% url 'info_clasif' %}" class="boton">Volver</a>
		  <p style="text-align:center">¿Esta seguro que desea catalogar el recuso educativo?</p>
		<form ACTION="/confir/" METHOD="POST">{% csrf_token %}

			<table width="100%">
				<tr>
					<td style="text-align:center"><input type="submit" value="Confirmar" name="confirmar"/>
					<input type="submit" value="Cancelar" name="cancelar"/></td>
				</tr>
			</table>
		{% if msj != '' %}
			<div class="ui-widget" style="padding:8px">
				<div class="ui-state-error ui-corner-all" style="padding: 0 .2em;">
					<span class="ui-icon ui-icon-alert" style="float: left; margin-right: .3em;"></span>
						<strong>Alerta </strong>{{msj}}
				</div>
			</div>
		{%endif%}
		</form>
	  </div>
	</div>
</div>
{% endblock %}