{% extends 'base_site.html' %}
 
{% block contenido %}
<div class="col-md-6 col-md-offset-3">
    <div class="panel-border panel panel-body panel-primary col-md-12">
        <div class="col-md-offset-5">
            <h3 class="tit_home"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>   Perfil</h3>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <b class="label_search">Usuario:</b>
                <br>
                <b class="label_search">Correo:</b>
                <br>
                <b class="label_search">Nombres:</b>
                <br>
                <b class="label_search">Apellidos:</b>
                <br>
                <b class="label_search">Fecha Registro:</b>
                <br>
                <b class="label_search">Último Ingreso:</b>
                <br>
                <b class="label_search">Grupo Usuarios:</b>
                <br>
            </div>
            <div class="label_search">
                {{ user.username }}
                <br>
                {{ user.email }}
                <br>
                {{ user.first_name }}
                <br>
                {{ user.last_name }}
                <br>
                {{ user.date_joined }}
                <br>
                {{ user.last_login }}
                <br>
                {{ user.groups }}
                <br>
            </div>
            <br><br>
        </div>
    </div>
</div>

{% endblock %}