{% extends "base_site.html" %}

{% block scripts %}
  <script>
   $(function() {
	$( "input:submit, input:reset, input:button, button").button();
	$(".boton").button();
  });
  </script>
{% endblock %}

{% block contenido %}

<div class="col-md-6 col-md-offset-3">
    <div class="panel-border panel panel-body panel-primary col-md-12">
        <div class="col-md-offset-4">
            <h3 class="tit_home"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>   Iniciar Sesión</h3>
        </div>
        <br>
        <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-4 col-md-offset-2">
                    <b class="label_search">{{ form.username.label_tag }}</b>
                    <br>
                    <b class="label_search">{{ form.password.label_tag }}</b>
                </div>
                <div class="label_search">
                    {{ form.username }}
                    <br>
                    {{ form.password }}
                </div>
            </div>
            <br>
            <div  class="label_search" align="center">
                <input type="submit" value="Login"/> <input type="hidden" name="next"
                                                        value="{{ next }}"/>
                 <a href="{% url 'main' %}" class="boton">Cancelar</a>

                {% if form.errors %}
                    <p>Nombre de usuario o contraseña no encontrados. Intente de nuevo.</p>
                {% endif %}
            </div>
        </form>
    </div>
</div>

    <br><br>


{% endblock %}