{% extends 'base_site.html' %}

{% block scripts %}
  <script>
  $(function() {
	$( "input:submit, input:reset, input:button").button();
  });
  </script>
{% endblock %}
{% block contenido %}

<div class="panel-border panel panel-body panel-primary col-md-3 col-md-offset-1">
    <div class="col-md-offset-2">
        <h3 class="tit_home">Filtros Búsqueda</h3>
    </div>
    <br>
    <form ACTION="/" METHOD="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="col-md-offset-1">
            <b class="label_search">Palabra Clave</b>
        </div>
        <div class="label_search col-md-offset-1">
            {{form.palabraClave}}
        </div>
        <div class="col-md-offset-1">
            <b class="label_search">Consultar en REDA</b>
        </div>
        <div class="col-md-offset-1">
                    {{form.reda}}
            </label>
        </div>
        <br>
        <br>
        <div class="col-md-offset-1">
            <b class="label_search">Area Conocimiento</b>
        </div>
        <div class="label_search col-md-offset-1">
            {{form.areaConocimiento}}
                    {% for error in form.areaConocimiento.errors %}<span style="color:red"><br>{{error}}</span>{%endfor%}
        </div>
        <br>
        <div class="label_search col-md-offset-1">
            <input type="submit" value="Buscar" />
        </div>
    </form>
    <br>
</div>
<div class="col-md-7">
    <div class="panel-border panel panel-body panel-primary col-md-12">
        <div class="col-md-offset-4">
            <h3 class="tit_home">Recursos Educativos</h3>
        </div>
        <div class="col-md-offset-1 label_search" >
            {% for item in Items %}
                <br>
                    <b>Titulo:     </b>{{item.titulo}}<br>
                    <b>Autor:      </b>{{item.autor}}<br>
                    <b>Descipcion: </b>{{item.descripcion}}<br>
                    <b>Pais:       </b>{{item.pais}}<br>
                    <b>Fecha:      </b>{{item.fecha}}<br>
                    <b>Keyword:    </b>{{item.keywords}}<br>
                    {% if item.reda == 'N' %}
                        <a href="/recurso/{{item.idItem}}/">Ver Detalles</a>
                    {% endif %}
                    <br>
            {% endfor %}
        </div>
         <div class="col-md-offset-5">
            <div class="pager" style="margin-left:auto; margin-right:auto;">
                <span class="step-links">
                     <h4>
                    {% if Items.has_previous %}
                        <a href="?page={{ Items.previous_page_number }}">Anterior</a>
                    {% endif %}

                    <span class="current">
                       Página {{ Items.number }} De {{ Items.paginator.num_pages }}
                    </span>

                    {% if Items.has_next %}
                        <a href="?page={{ Items.next_page_number }}">Siguiente</a>
                    {% endif %}
                    </h4>
                </span>
             </div>
        </div>
    </div>
</div>



{% endblock %}