{% extends 'base_site.html' %}

{% block scripts %}
  <script>
   $(function() {
	$( "input:submit, input:reset, input:button, button").button();
  });
  </script>
{% endblock %}

{% block contenido %}

    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}

<script language="JavaScript">
    function cancelar()
    {
        document.forms[0].action='/';
        document.forms[0].submit;

    }
</script>

    <br>
<div class="col-md-6 col-md-offset-3">
    <div class="panel-border panel panel-body panel-primary col-md-12">
        <div class="col-md-offset-4">
            <h3 class="tit_home"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>   Crear Cuenta</h3>
        </div>
        <br>
        <form method="post" action="{% url 'signup' %}">

            {% csrf_token %}
            <div align="center">
            <table id="tablaSignUp">
                <tr>
                    <td>{{ form.username.label_tag }}</td>
                    <td>{{ form.username }}</td>
                </tr>
                <tr>
                    <td>{{ form.password.label_tag }}</td>
                    <td>{{ form.password }}</td>
                </tr>

                <tr>
                    <td>{{ form.email.label_tag }}</td>
                    <td>{{ form.email }}</td>
                </tr>

                <tr>
                    <td>{{ form.first_name.label_tag }}</td>
                    <td>{{ form.first_name }}</td>
                </tr>

                <tr>
                    <td>{{ form.last_name.label_tag }}</td>
                    <td>{{ form.last_name }}</td>
                </tr>
                <tr>
                    <td>{{ form.groups.label_tag }}</td>
                    <td>{{ form.groups }}</td>
                </tr>

            </table>
            </div>
            <br>
            <div class="label_search" align="center">
                <table>
                    <tr>
                        <input type="submit" value="Crear usuario"/>
                    </tr>
                         <button onclick="javascript:cancelar()">Cancelar</button>
                    </tr>
                </table>
            </div>
        </form>

    </div>
</div>
{% endblock %}