{% extends 'base_site.html' %}

{% block scripts %}
  <script>
  $(function() {
    $( "#tabs" ).tabs()
  });

  $( "#informacion" ).button({
      icons: {
        primary: "ui-icon-seek-start"
      },
  })

  $(function() {
    // run the currently selected effect
    function runEffect() {

      // most effect types need no options passed by default
      var options = {percent: 100};
      // run the effect
      $( "#effect" ).show("blind", options, 500 );
    };

    //callback function to bring a hidden box back
    function callback() {
      setTimeout(function() {
        $( "#effect:visible" ).removeAttr( "style" ).fadeOut();
      }, 1000 );
    };

    // set effect from select menu value
    $( "#informacion" ).click(function() {
      runEffect();
    });

    $( "#effect" ).hide();
  });

  $(function() {


    dialog = $( "#dialog-confirm" ).dialog({
      resizable: false,
      autoOpen: false,
      height:155,
      modal: true,
      buttons: {
        "Si": function() {
          window.location.href = "/eliminarRecurso/{{identificador}}";
        },
        Cancelar: function() {
          $( this ).dialog( "close" );
        }
      }
    });
     $( "#eliminar" ).button().on( "click", function() {
      dialog.dialog( "open" );
    });
  });
  </script>
{% endblock %}

{% block contenido %}

    <div id="dialog-confirm" title="Eliminar Recurso">
      <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>¿Esta seguro que desea eliminar el Recurso Educativo?</p>
    </div>

    <div class="panel-border panel panel-body panel-primary col-md-10 col-md-offset-1">
        {% for group in user.groups.all %}
            {% if group.name == 'profesor' %}
                <button id="eliminar" class="blog-nav-item navbar-right"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>ELIMINAR RECURSO</button>
            {% endif %}
        {% endfor %}
        <h3 class="tit_home" style="text-align:center">{{item.titulo}}</h3><br>

        <img src="/site_media/images/verRecurso.png" width="300" style="float: left;clear:left;margin-top:-30px"/>
        <div id="descargar">
            <a class="blog-nav-item navbar-center" href="/recursos/{{identificador}}/"><span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> DESCARGAR RECURSO</a>
        </div>


        <div class="col-md-offset-4">
            <table width="60%" style="border-spacing:4px;border-collapse: separate;">
                <tr>
                    <td><b>Autor:</b></td><td>{{item.autor}}</td>
                </tr>
                <tr>
                    <td><b>Lenguaje:</b></td>
                    <td>
                        {% if item.lenguaje == "en" %}Ingles {% endif%}
                        {% if item.lenguaje == "es" %}Español {% endif%}
                        {% if item.lenguaje == "fr" %}Frances {% endif%}
                        {% if item.lenguaje == "it" %}Italiano {% endif%}
                    </td>
                </tr>
                <tr>
                    <td><b>Pais:</b></td><td>{{item.pais}}</td>
                </tr>
                <tr>
                    <td><b>Fecha de Publicación:</b></td><td>{{item.fecha}}</td>
                </tr>
                <tr>
                    <td><b>Extension:</b></td><td>{{item.extension}}</td>
                </tr>
                <tr>
                    <td><b>Tipo de Recurso:</b></td><td>{{item.tipoRecurso}}</td>
                </tr>
                <tr>
                    <td><b>Area Conocimiento:</b></td><td>{{item.areaConocimiento}}</td>
                </tr>
                <tr>
                    <td><b>Categoria:</b></td><td>{{item.categoria}}</td>
                </tr>
                <tr>
                    <td><b>Palabras Claves:</b></td><td>{{item.palabrasClaves}}</td>
                </tr>
                <tr>
                    <td><b>Nivel Agregacion:</b></td><td>{{item.nivelAgregacion}}</td>
                </tr>
                <tr>
                    <td><b>Nivel Educativo:</b></td><td>{{item.nivelEducativo}}</td>
                </tr>
                <tr>
                    <td><b>Repositorio:</b></td><td>Universidad de los Andes</td>
                </tr>
            </table>
        </div>
        <br>
        <br>
        <b>Descripción:</b><br>{{item.descripcion}}<br>


        <br><button id="informacion" class="blog-nav-item navbar-left"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>MAS INFORMACIÓN</button>


        <br><br><br>

        <div id="effect">
            <div id="tabs" class="col-md-10* col-md-offset-0">

              <ul class="tab-links">
                <li><a href="#tabs-1">INFORMACION RECURSO</a></li>
                <li><a href="#tabs-2">INFORMACION ENTIDAD</a></li>
                <li><a href="#tabs-3">INFORMACION TECNICA</a></li>
                <li><a href="#tabs-4">INFORMACION EDUCATIVA</a></li>
                <li><a href="#tabs-5">COMENTARIOS</a></li>
                <li><a href="#tabs-6">DERECHOS DE AUTOR</a></li>
              </ul>
                <div class="tab-content">
                  <div id="tabs-1">
                      <table width="77%" style="margin: 0 auto;border-spacing:4px;border-collapse: separate;">
                          <tr>
                              <td><b>Sitio Web:</b></td><td>{{item.recursoWebsite}}</td>
                              <td> <b>Indicador Catalogo:</b></td><td>{{item.recursoIdentCatalogo}}</td>
                              <td><b>Estructura General:</b></td><td>{{item.recursoEstructura}}</td>
                          </tr>
                          <tr>
                              <td><b>Esquema:</b></td><td>{{item.recursoEsquema}}</td>
                              <td><b>Versión:</b></td><td>{{item.recursoVersion}}</td>
                              <td><b>Cambios en el Recurso:</b></td><td>{{item.recursoCambios}}</td>
                          </tr>
                           <tr>
                              <td><b>Momento Contextual:</b></td><td>{{item.recursoMomentoC}}</td>
                              <td><b>Lenguaje de los Datos:</b></td>
                               <td>
                                   {% if item.recursoLenguajeDatos == "en" %}Ingles {% endif%}
                                   {% if item.recursoLenguajeDatos == "es" %}Español {% endif%}
                                   {% if item.recursoLenguajeDatos == "fr" %}Frances {% endif%}
                                   {% if item.recursoLenguajeDatos == "it" %}Italiano {% endif%}
                               </td>
                              <td><b>Coordenadas:</b></td><td>{{item.recursoCoordenadas}}</td>
                          </tr>
                      </table>
                  </div>
                  <div id="tabs-2">
                      <table width="25%" style="margin: 0 auto;border-spacing:4px;border-collapse: separate;">
                          <tr>
                              <td width="70%"><b>Nombre de la Entidad:</b></td><td width="30%">{{item.entidadNombre}}</td>
                          </tr>
                      </table>
                  </div>
                  <div id="tabs-3">
                      <table width="60%" style="margin: 0 auto;border-spacing:4px;border-collapse: separate;">
                          <tr>
                              <td width="30%"><b>Previsualización:</b></td><td width="20%">{{item.tecnicaPrevisualizacion}}</td>
                              <td width="40%"><b>Intrucciones de Instalación:</b></td><td width="10%">{{item.tecnicaInstInstalacion}}</td>
                          </tr>
                          <tr>
                              <td><b>Otros Requerimientos:</b></td><td>{{item.tecnicaOtrosReq}}</td>
                          </tr>
                      </table>
                  </div>
                  <div id="tabs-4">
                      <table width="70%" style="margin: 0 auto;border-spacing:4px;border-collapse: separate;">
                          <tr>
                              <td width="25%"><b>Tipo de Interactividad:</b></td><td width="10%">{{item.educativaInteractividad}}</td>
                              <td width="20%"><b>Rango de Edad:</b></td><td width="10%">{{item.educativaRangoEdad}}</td>
                              <td width="25%"><b>Densidad Semantica:</b></td><td width="10%">{{item.educativaDensidadSem}}</td>
                          </tr>
                          <tr>
                              <td><b>Tiempo de Aprendizaje:</b></td><td>{{item.educativaTiempoA}}</td>
                              <td><b>Dificultad:</b></td><td>{{item.educativaDificultad}}</td>
                              <td><b>Descripción:</b></td><td>{{item.educativaDes}}</td>
                          </tr>
                      </table>
                  </div>
                  <div id="tabs-5">
                      <table width="50%" style="margin: 0 auto;border-spacing:4px;border-collapse: separate;">
                          <tr>
                              <td width="20%"><b>Comentarios:</b></td><td width="30%">{{item.comentariosComent}}</td>
                              <td width="20%"><b>Descripción:</b></td><td width="30%"> {{item.cometariosDesc}}</td>
                          </tr>
                          <tr>
                              <td><b>Fecha:</b></td><td>{{item.comentariosFecha}}</td>
                              <td><b>Rating:</b></td><td>{{item.cometariosRating}}</td>
                          </tr>
                      </table>
                  </div>
                  <div id="tabs-6">
                      <table width="40%" style="margin: 0 auto;border-spacing:4px;border-collapse: separate;">
                          <tr>
                              <td><b>Restricciones:</b></td><td>{{item.derechosRestricciones}}</td>
                              <td><b>Descripción:</b></td><td>{{item.derechosDesc}}</td>
                          </tr>
                          <tr>
                              <td><b>Costos:</b></td><td>{{item.derechosCosto}}</td>
                          </tr>
                      </table>
                  </div>
                </div>
            </div>
        </div>
        <br>
    </div>
{% endblock %}